.navbar {
    text-align: center; 
    padding: 10px;
}
.selected{
    background-color: aqua;
}

a{
    text-decoration: none;
    color: black;
}

.container,#table {
    display: block;
    width: fit-content;              /* adjust width */
    margin: 20px auto;       /* center it */
    padding: 20px;           /* inner spacing */
    border: 2px solid #333;  /* border around */
    border-radius: 10px;     /* rounded corners */
    background-color: #f9f9f9; /* light background */
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); /* soft shadow */
}

